html,
body {
  height: 100%;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}
body {
  background-image: url(images/bg-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
main {
  height: 60%;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
}
.header,
.body {
  width: 90%;
  background-color: hsl(228, 56%, 26%);
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding-left: 10%;
}
.header {
  border-top-right-radius: 80px;
  height: 50%;
}
.body {
  height: 40%;
  justify-content: space-around;
}
.header-body {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.file,
.folder,
.upload {
  width: 6vb;
  height: 6vb;
  background-color: hsl(229, 57%, 11%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.storage {
  color: white;
  margin-top: 15px;
  margin-left: 8px;
  opacity: 70%;
}
.gb {
  font-weight: bold;
  opacity: 100%;
}
.range {
  display: block;
  -webkit-appearance: none;
  outline: none;
  background-color: hsl(229, 57%, 11%);
  width: 90%;
  height: 15px;
  overflow: hidden;
  margin-top: 0px;
  border-radius: 10px;
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  border-radius: 50%;
  position: relative;
  box-shadow: -400px 0 0 390px rgba(255, 163, 144, 0.8);
}

.range-feild {
  margin-bottom: 50px;
}
._0gb,
._1000gb {
  color: white;
}
._1000gb {
  display: inline-block;
  margin-left: 155px;
  margin-top: 10px;
}
.footer {
  width: 150px;
  height: 60px;
  background-color: white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  top: 88%;
  text-align: center;
}
._185gb {
  font-size: 35px;
  font-weight: bold;
}
.gbleft {
  display: inline-block;
  margin-left: 2px;
  opacity: 70%;
  font-size: 12px;
}
sup {
  vertical-align: text-top;
  font-size: 35px;
}
@media (min-width: 500px) {
  body {
    background-image: url(images/bg-desktop.png);
  }
  main {
    height: 60%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
  }
  .header {
    width: 35%;
    margin-bottom: 4%;
    padding-left: 4%;
  }
  .body {
    width: 45%;
    padding-left: 4%;
  }
  ._1000gb {
    margin-left: 71%;
  }
  .footer {
    top: 23%;
    right: 8.5%;
  }
  .footer::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 20px solid white;
    border-left: 20px solid transparent;
    position: absolute;
    bottom: -18px;
    left: 130px;
    border-radius: 1px;
  }
}
